@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
* {
  font-family: Poppins;
  font-style: normal;
  box-sizing: border-box;
}

body {
  padding: 60px;
  background-color: #161b22;
  color: white;
  object-fit: cover;

  background-image: url("https://prod-static.disney-plus.net/us-west-2/disneyPlus/app/builds/dbd222c2a6817af50b9e5d0e106c8071522f96b9/disneyPlus/app/assets/dss-junglebook/components/themes/images/background.png");
}

input {
  background-color: #0d1117;
  font-weight: 200;
  outline: none;
  border: thin solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  padding: 6px 1rem;
  width: 100%;
  display: block;
  margin: auto;
}

input:focus{
  border-color: rgb(31, 136, 255);
}

ol{
  margin: 0;
  padding: 0;
}

.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  outline: 0;
  align-content: center;
  border-radius: 6px;
  overflow: hidden;
  max-height: 200px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition-property: transform, box-shadow;
  transition-duration: .6s;
  transition-timing-function:  ease-out;
  transition-delay: 0s;
}

.card:hover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0, 0, 0.6);
}

.card:hover{
  background-color: #000;
  border: 4px solid rgb(255, 255, 255, 5);
  transform: scale(1.05);
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}



.text-hidden {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 55%;
  padding: 5px;
  text-align: center;
  margin: auto;
}

.card:hover .text-hidden{
  display: inline;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading {
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 800px){
  body{
    padding: 1rem;
  }

} 